<a href="https://colab.research.google.com/github/Johan1us/Fastai/blob/master/Copy_of_Predict_Tabular_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

With this notebook you can predict tabular data.

https://docs.fast.ai/tutorial.data.html#Tabular

In [0]:
# 
from fastai.tabular import*

In [0]:
# def untar_data(url:str, fname:PathOrStr=None, dest:PathOrStr=None, data=True, force_download=False) -> Path:
#     "Download `url` to `fname` if it doesn't exist, and un-tgz to folder `dest`."
#     dest = url2path(url, data) if dest is None else Path(dest)/url2name(url)
#     fname = Path(ifnone(fname, _url2tgz(url, data)))
#     if force_download or (fname.exists() and url in _checks and _check_file(fname) != _checks[url]):
#         print(f"A new version of the {'dataset' if data else 'model'} is available.")
#         if fname.exists(): os.remove(fname)
#         if dest.exists(): shutil.rmtree(dest)
#     if not dest.exists():
#         fname = download_data(url, fname=fname, data=data)
#         data_dir = Config().data_path()
#         if url in _checks:
#             assert _check_file(fname) == _checks[url], f"Downloaded file {fname} does not match checksum expected! Remove that file from {data_dir} and try your code again."
#         tarfile.open(fname, 'r:gz').extractall(dest.parent)
#     return dest

In [0]:
# untar_data: Download url to fname if it doesn't exist, and un-tgz to folder dest.
adult = untar_data(URLs.ADULT_SAMPLE)

In [0]:
df = pd.read_csv(adult/'adult.csv')

In [0]:
df [5:10]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
5,20,Private,63210,HS-grad,9.0,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<50k
6,49,Private,44434,Some-college,10.0,Divorced,NaN,Other-relative,White,Male,0,0,35,United-States,<50k
7,37,Private,138940,11th,7.0,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,<50k
8,46,Private,328216,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>=50k
9,36,Self-emp-inc,216711,HS-grad,NaN,Married-civ-spouse,NaN,Husband,White,Male,99999,0,50,?,>=50k

In [0]:
dep_var = 'age'

In [0]:
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'salary']

In [0]:
cont_names = ['education-num', 'hours-per-week', 'fnlwgt', 'capital-gain']

In [0]:
procs = [FillMissing, Categorify, Normalize]

In [0]:
data = (TabularList.from_df(df, path=adult, cat_names=cat_names, cont_names=cont_names, procs=procs)
        .split_by_idx(valid_idx=range(800,1000))
        .label_from_df(cols=dep_var)
        .databunch())

In [0]:
data

TabularDataBunch;

Train: LabelList (32361 items)
x: TabularList
workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; sex  Female; native-country  United-States; salary >=50k; education-num_na False; education-num 0.7511; hours-per-week -0.0356; fnlwgt -0.8381; capital-gain -0.1459; ,workclass  Private; education  Masters; marital-status  Divorced; occupation  Exec-managerial; relationship  Not-in-family; race  White; sex  Male; native-country  United-States; salary >=50k; education-num_na False; education-num 1.5334; hours-per-week 0.3694; fnlwgt 0.4458; capital-gain 1.2747; ,workclass  Private; education  HS-grad; marital-status  Divorced; occupation #na#; relationship  Unmarried; race  Black; sex  Female; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week -0.6836; fnlwgt -0.8868; capital-gain -0.1459; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  Asian-Pac-Islander; sex  Male; native-country  United-States; salary >=50k; education-num_na False; education-num 1.9245; hours-per-week -0.0356; fnlwgt -0.7288; capital-gain -0.1459; ,workclass  Self-emp-not-inc; education  7th-8th; marital-status  Married-civ-spouse; occupation  Other-service; relationship  Wife; race  Black; sex  Female; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week 0.7743; fnlwgt -1.0185; capital-gain -0.1459;
y: CategoryList
49,44,38,38,42
Path: /root/.fastai/data/adult_sample;

Valid: LabelList (200 items)
x: TabularList
workclass  Private; education  Some-college; marital-status  Divorced; occupation  Handlers-cleaners; relationship  Unmarried; race  White; sex  Female; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week -0.0356; fnlwgt -0.8793; capital-gain -0.1459; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  White; sex  Male; native-country  United-States; salary >=50k; education-num_na True; education-num -0.0312; hours-per-week 1.5843; fnlwgt 0.0290; capital-gain 1.8829; ,workclass  Private; education  Assoc-voc; marital-status  Divorced; occupation #na#; relationship  Not-in-family; race  White; sex  Male; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week -0.1976; fnlwgt 1.7704; capital-gain -0.1459; ,workclass  Federal-gov; education  Bachelors; marital-status  Never-married; occupation  Tech-support; relationship  Not-in-family; race  White; sex  Male; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week 0.3694; fnlwgt -1.3242; capital-gain -0.1459; ,workclass  Private; education  Bachelors; marital-status  Married-civ-spouse; occupation #na#; relationship  Husband; race  White; sex  Male; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week -0.0356; fnlwgt -0.2389; capital-gain -0.1459;
y: CategoryList
45,46,36,25,37
Path: /root/.fastai/data/adult_sample;

Test: None

In [0]:
data.show_batch()

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [0]:
learn

Learner(data=TabularDataBunch;

Train: LabelList (32361 items)
x: TabularList
workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; sex  Female; native-country  United-States; salary >=50k; education-num_na False; education-num 0.7511; hours-per-week -0.0356; fnlwgt -0.8381; capital-gain -0.1459; ,workclass  Private; education  Masters; marital-status  Divorced; occupation  Exec-managerial; relationship  Not-in-family; race  White; sex  Male; native-country  United-States; salary >=50k; education-num_na False; education-num 1.5334; hours-per-week 0.3694; fnlwgt 0.4458; capital-gain 1.2747; ,workclass  Private; education  HS-grad; marital-status  Divorced; occupation #na#; relationship  Unmarried; race  Black; sex  Female; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week -0.6836; fnlwgt -0.8868; capital-gain -0.1459; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  Asian-Pac-Islander; sex  Male; native-country  United-States; salary >=50k; education-num_na False; education-num 1.9245; hours-per-week -0.0356; fnlwgt -0.7288; capital-gain -0.1459; ,workclass  Self-emp-not-inc; education  7th-8th; marital-status  Married-civ-spouse; occupation  Other-service; relationship  Wife; race  Black; sex  Female; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week 0.7743; fnlwgt -1.0185; capital-gain -0.1459;
y: CategoryList
49,44,38,38,42
Path: /root/.fastai/data/adult_sample;

Valid: LabelList (200 items)
x: TabularList
workclass  Private; education  Some-college; marital-status  Divorced; occupation  Handlers-cleaners; relationship  Unmarried; race  White; sex  Female; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week -0.0356; fnlwgt -0.8793; capital-gain -0.1459; ,workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  White; sex  Male; native-country  United-States; salary >=50k; education-num_na True; education-num -0.0312; hours-per-week 1.5843; fnlwgt 0.0290; capital-gain 1.8829; ,workclass  Private; education  Assoc-voc; marital-status  Divorced; occupation #na#; relationship  Not-in-family; race  White; sex  Male; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week -0.1976; fnlwgt 1.7704; capital-gain -0.1459; ,workclass  Federal-gov; education  Bachelors; marital-status  Never-married; occupation  Tech-support; relationship  Not-in-family; race  White; sex  Male; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week 0.3694; fnlwgt -1.3242; capital-gain -0.1459; ,workclass  Private; education  Bachelors; marital-status  Married-civ-spouse; occupation #na#; relationship  Husband; race  White; sex  Male; native-country  United-States; salary <50k; education-num_na True; education-num -0.0312; hours-per-week -0.0356; fnlwgt -0.2389; capital-gain -0.1459;
y: CategoryList
45,46,36,25,37
Path: /root/.fastai/data/adult_sample;

Test: None, model=TabularModel(
  (embeds): ModuleList(
    (0): Embedding(10, 6)
    (1): Embedding(17, 8)
    (2): Embedding(8, 5)
    (3): Embedding(16, 8)
    (4): Embedding(7, 5)
    (5): Embedding(6, 4)
    (6): Embedding(3, 3)
    (7): Embedding(43, 13)
    (8): Embedding(3, 3)
    (9): Embedding(3, 3)
  )
  (emb_drop): Dropout(p=0.0)
  (bn_cont): BatchNorm1d(4, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=62, out_features=200, bias=True)
    (1): ReLU(inplace)
    (2): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Linear(in_features=200, out_features=100, bias=True)
    (4): ReLU(inplace)
    (5): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (6): Linear(in_features=100, out_features=73, bias=True)
  )
), opt_func=functools.partial(<class 'torch.optim.adam.Adam'>, betas=(0.9, 0.99)), loss_func=FlattenedLoss of CrossEntropyLoss(), metrics=[<function accuracy at 0x7f320f553488>], true_wd=True, bn_wd=True, wd=0.01, train_bn=True, path=PosixPath('/root/.fastai/data/adult_sample'), model_dir='models', callback_fns=[functools.partial(<class 'fastai.basic_train.Recorder'>, add_time=True)], callbacks=[], layer_groups=[Sequential(
  (0): Embedding(10, 6)
  (1): Embedding(17, 8)
  (2): Embedding(8, 5)
  (3): Embedding(16, 8)
  (4): Embedding(7, 5)
  (5): Embedding(6, 4)
  (6): Embedding(3, 3)
  (7): Embedding(43, 13)
  (8): Embedding(3, 3)
  (9): Embedding(3, 3)
  (10): Dropout(p=0.0)
  (11): BatchNorm1d(4, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (12): Linear(in_features=62, out_features=200, bias=True)
  (13): ReLU(inplace)
  (14): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (15): Linear(in_features=200, out_features=100, bias=True)
  (16): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (17): Linear(in_features=100, out_features=73, bias=True)
)], add_time=True)

In [0]:
learn.fit(5, 1e-2)

learn.show_results()

[doc](https://docs.fast.ai/basic_train.html#Learner.show_results)

[code](https://github.com/fastai/fastai/blob/master/fastai/basic_train.py#L381)

In [0]:
rows = 20
learn.show_results(rows=rows)